doctype html
html
	head
		title Fb Graffiti
	body
		img(src=src)
		br
		h Made with FB Graffiti
		br
		a(href=https://chrome.google.com/webstore/detail/fb-graffiti/ipciijndfkddclgblffimljohjmhemak) Download
		br
		a(href='http://www.joelsimon.net/fb-graffiti.html') Read more