html
  head
    title FBG ADMIN
    h1 HELLO MR ADMIN
  body
    form(action="/auth", method="post")
      input(type="password", name="password", placeholder="Password")
      input(type="submit", value="Login", method="post")