html
  head
    title Fb Graffiti
    //- style(type='text/css').
    link(rel='stylesheet', href="/style.css")
  body
    - var host="https://s3.amazonaws.com/facebookGraffiti/"
    #container.clearfix
      each img in imgList
        .box.photo.col2
          - var url = 'https://www.facebook.com/photo.php?fbid='+img.id
          a(href=url, title="foobar")
            img(src=host+img.id+".png", class="graffiti")
            img(src=img.url)
  
          
  
  //- style(src="style.css")    
  script(src="jquery-1.7.1.min.js")
  script(src="jquery.masonry.min.js")
  script(type='text/javascript').
    $(function(){
      var $container = $('#container');
      $container.imagesLoaded( function(){
        console.log('loaded')
        //- $('#content').masonry('reload');
        $container.masonry({
          //- columnWidth: 400,
          itemSelector : '.box'
        });
      }); 
    });