html
  head
    title Most Graffitied Pages in Last Week
  body
    #container
      each page, i in pages
        .page
          a(href=page.link, title="")
            p(style="max-width:170px")=page.name
            img(src=page.picture.data.url).profile.hasGraffiti